@import "~office-ui-fabric-react/dist/sass/References.scss";

/*
Minimum section heights seem to be 320px. We're adding 1px above and below to remove gaps/borders
*/
:export {
  sectionminheight: 320;
}

.shapeDividers {
  /* Using a minus margin to remove gaps between sections */
  // margin-top: -1px;
  // margin-bottom: -1px;
  min-height: 320px;
  height: 320px;
  overflow: hidden;
}
