@import "~office-ui-fabric-react/dist/sass/References.scss";

/*
Minimum section heights seem to be 320px. We're adding 1px above and below to remove gaps/borders
*/
:export {
  sectionminheight: 320;
}

.shapeDividers {
  min-height: 320px;
  height: 320px;
  overflow: hidden;
  border: none;

  // svg {
  //   background-color: $ms-color-purpleLight;
  // }
}
